<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>
<body>

<div class="container-fluid d-flex justify-content-center align-items-center vw-100 vh-100">
    <div class="col-md-6 pt-4 mt-3 mt-md-0 border border-2 ">
        <h2 class="h4 mb-3 d-flex justify-content-center">NarphoCart</h2>
        <form action="/admin/adminlogin" method="post" style="margin-left: 50px; margin-right: 50px;">
          <div class="mb-3">
            <label class="form-label" for="si-email">Email address</label>
            <input class="form-control" type="email" name="email" id="si-email" placeholder="Your email"  required>
            <div class="invalid-feedback">Please provide a valid email address.</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="si-password">Password</label>
            <div class="input-group">
                <input class="form-control" name="password" type="password" id="si-password" placeholder="password" required>
                <button class="btn btn-light border border-secondary " type="button" id="togglePassword">
                    <i class="bi bi-eye-slash-fill"></i>
                </button>
            </div>
          </div>
          <div class="d-flex justify-content-center" style="margin-bottom: 30px;">
            <button class="btn btn-success" type="submit" style="width:150px">Login</button>
          </div>
          <div id="notification">
          <% if(typeof message!="undefined"){
            %>
            <p style="color:rgb(192, 35, 35)"><%= message %></p>
            <%
          }
          %>
          </div>
        </form>
    </div>
    </div>

  
  </body>
  </html>
  <script>
  setTimeout(()=>{
    document.getElementById("notification").remove()
  },3000); 

    const togglePassword = document.querySelector('#togglePassword');
      const password = document.querySelector('[name="password"]');

      togglePassword.addEventListener('click', function (e) {
          // toggle the type attribute
          const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
          password.setAttribute('type', type);
          // toggle the eye icon
          const eyeIcon = togglePassword.querySelector('i');
          eyeIcon.classList.toggle('bi-eye-fill');
          eyeIcon.classList.toggle('bi-eye-slash-fill');
      });
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

   
  