<%-include("../user/layouts/header.ejs")%>
<%-include("../user/layouts/personal-header.ejs")%>
            
         <section class="col-lg-8">
            <!-- Address  adding page form-->
            <form  method="post" action="/address" class="needs-validation row g-4" novalidate>
                <div class=" rounded-3 p-4 mb-5">
                </div>
                
                <p>All Kerala delivery only/-</p>
                        <div class="col-sm-6">
                            <label class="form-label" for="account-fn">Name</label>
                            <input class="form-control" type="text"  name="deliveryname" required>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="account-phone">Phone Number</label>
                            <input class="form-control" type="tel" pattern="[0-9]{10}" id="account-phone" name="phone" required>
                            <div class="invalid-feedback">Please enter your valid Phone number</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="account-fn">House name/Building name</label>
                            <input class="form-control" type="text"  name="houseName"  required>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="account-phone">City</label>
                            <input class="form-control" type="text" name="city" required>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="account-phone">Pin no:</label>
                            <input class="form-control" type="number" name="pin"  required>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="account-phone">Distrit</label>
                            <select class="form-select me-2" type="text" name="distrit" id="district" required>
                          <option value="">Select District</option>
                          <option value="Alappuzha">Alappuzha</option>
                          <option value="Ernakulam">Ernakulam</option>
                          <option value="Idukki">Idukki</option>
                          <option value="Kannur">Kannur</option>
                          <option value="Kasaragod">Kasaragod</option>
                          <option value="Kollam">Kollam</option>
                          <option value="Kottayam">Kottayam</option>
                          <option value="Kozhikode">Kozhikode</option>
                          <option value="Malappuram">Malappuram</option>
                          <option value="Palakkad">Palakkad</option>
                          <option value="Pathanamthitta">Pathanamthitta</option>
                          <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                          <option value="Thrissur">Thrissur</option>
                          <option value="Wayanad">Wayanad</option>
                        </select>
                        </div>
                        <div class="d-flex justify-content-end">
                        <button type="reset" class="btn btn-danger  " >Reset</button>&nbsp;&nbsp;
                        <button type="submit" class="btn btn-success " >submit</button>
                        </div>
                </div>
            </form>
            </section>
        </div>
    </div>
</div>
<script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="vendor/simplebar/dist/simplebar.min.js"></script>
<script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="js/theme.min.js"></script>

<%-include("../user/layouts/footer.ejs")%>